<!-- ...............Inicio de Modal para Skills -->
<div class="modal fade" id="ModalSkills" name="ModalSkills" tabindex="-1" aria-labelledby="ModalSkills" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Skills</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-4 mb-3">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" aria-placeholder="Seleccionar">
                        <option selected>Seleccionar</option>
                        <!--<option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>-->
                      </select>
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Tipo de Skill</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" aria-placeholder="Seleccionar">
                        <option selected>Seleccionar</option>
                        <option value="1">Frontend</option>
                        <option value="2">Backend</option>
                        <option value="3">Idioma</option>
                        <option value="4">Otro</option>
                      </select>
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Título de Skill</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="HTML, CSS, Python, Java...">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Porcentaje</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="50%, 80%, 100%...">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Ícono de fontawesome</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="fa-brands fa-html5...">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Eliminar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
                <button type="button" class="btn btn-success">&nbsp;&nbsp;Editar&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- ...............Fin de Modal para Skills -->