<div class="modal fade" id="ModalLogin" tabindex="-1" aria-labelledby="ModalLogin" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLogin">Formulario Login</h4>
                <button type="button" (click)="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-4 col-form-label">
                            <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;Email: 
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" formControlName="email" placeholder="email@dominio.com"
                            [ngClass]="{'is-invalid': MailInvalido, 'is-valid': MailValido}">
                            
                            <!-- Se verifica si cumple con el formato de email -->
                            <div *ngIf="Mail?.errors && Mail?.touched">
                                <p *ngIf="Mail?.hasError('required')" class="errores">
                                    El email es requerido.
                                </p>
                                <p *ngIf="Mail?.hasError('email')" class="errores">
                                    El formato del email debe ser válido.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Password" class="col-sm-4 col-form-label"><i class="fa-solid fa-lock"></i>&nbsp;&nbsp;&nbsp;Contraseña: </label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" formControlName="password" placeholder="********"
                            [ngClass]="{'is-invalid': PasswordInvalido, 'is-valid': PasswordValido}">

                            <!-- Se verifica si cumple con el formato de password -->
                            <div *ngIf="Password?.errors && Password?.touched">
                                <p *ngIf="Password?.hasError('required')" class="errores">
                                    El Password es requerido.
                                </p>
                                <p *ngIf="Password?.errors?.['minlength']" class="errores">
                                    El Password debe ser de 8 o más caracteres.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Ingresar</button>
                        <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>