/* ...............Inicio de Panel*/
.panel{
    margin-top: 1rem;
}

.caja{
    color: #ffffff;
    width: 6.5rem;
    background-color: #00378a;
    border-color: #ffffff;
    border-width: 0.5rem;
    border-radius: 0.5rem;
}

p{
  margin-bottom: 0;
}

.bienvenido{
  margin-top: 1rem;
  align-items: center;
  background-color: white;
  width: 70%;
  margin-left: 15%;
}
/* ...............Fin de Panel*/