<app-navbar-dashboard></app-navbar-dashboard>
<!-- ...............Inicio de Dashboard -->
<section id="panel">
    <div id="InicioDashboard" class="bienvenido text-center">
        <h3><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        BIENVENIDO AL DASHBOARD
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h3>
    </div>
    <div class="container text-center">
        <div class="row g-lg-3">
            <div class="col panel">
                <a routerLink="dashboardacercademi" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-user-gear fa-lg"></i>
                        <p>Acerca</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardbanner" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-image fa-lg"></i>
                        <p>Banner</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardestudios" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-book fa-lg"></i>
                        <p>Educación</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardexperiencia" class="caja">
                <button type="button" class="caja">
                    <i class="fa-solid fa-toolbox fa-lg"></i>
                    <p>Experiencia</p>
                </button></a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardperfil" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-id-badge fa-lg"></i>
                        <p>Perfil</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardproyectos" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-file-circle-check fa-lg"></i>
                        <p>Proyectos</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardskills" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-hammer fa-lg"></i>
                        <p>Skills</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardredes" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-share-nodes fa-lg"></i>
                        <p>Redes</p>
                    </button>
                </a>
            </div>
            <div class="col panel">
                <a routerLink="dashboardreferencias" class="caja">
                    <button type="button" class="caja">
                        <i class="fa-solid fa-comments fa-lg"></i>
                        <p>Referencias</p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>