<app-navbar-dashboard></app-navbar-dashboard>
<!-- ...............Inicio de Dashboard -->
<section id="panel">
    <div class="container text-center">
        <div class="row g-lg-3">
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalAcercade">
                    <i class="fa-solid fa-user-gear fa-2x"></i>
                    <h4><br>ACERCA DE MI</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalBanner">
                    <div><i class="fa-solid fa-file-image fa-2x"></i></div>
                    <h4><br>BANNER</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalEstudios">
                    <div><i class="fa-solid fa-book fa-2x"></i></div>
                    <h4><br>EDUCACIÓN</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalExperiencia">
                    <div><i class="fa-solid fa-toolbox fa-2x"></i></div>
                    <h4><br>EXPERIENCIA</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalPerfil">
                    <div><i class="fa-solid fa-id-badge fa-2x"></i></div>
                    <h4><br>PERFIL</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalProyectos">
                    <div><i class="fa-solid fa-file-circle-check fa-2x"></i></div>
                    <h4><br>PROYECTOS</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalSkills">
                    <div><i class="fa-solid fa-hammer fa-2x"></i></div>
                    <h4><br>SKILLS</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja"data-bs-toggle="modal" data-bs-target="#ModalRedes">
                    <div><i class="fa-solid fa-share-nodes fa-2x"></i></div>
                    <h4><br>REDES</h4>
                </button>
            </div>
            <div class="col panel">
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalReferencias">
                    <div><i class="fa-solid fa-comments fa-2x"></i></div>
                    <h4><br>REFERENCIAS</h4>
                </button>
            </div>
        </div>
    </div>
</section>
<app-dash-acercademi></app-dash-acercademi>
<app-dash-banner></app-dash-banner>
<app-dash-estudios></app-dash-estudios>
<app-dash-experiencia></app-dash-experiencia>
<app-dash-perfil></app-dash-perfil>
<app-dash-proyectos></app-dash-proyectos>
<app-dash-skills></app-dash-skills>
<app-dash-redes></app-dash-redes>
<app-dash-referencias></app-dash-referencias>