<!-- ...............Inicio de Modal para Estudios -->
<div class="modal fade" id="ModalEstudios" name="ModalEstudios" tabindex="-1" aria-labelledby="ModalEstudios" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Estudios</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-4 mb-3">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" aria-placeholder="Seleccionar">
                        <option selected>Seleccionar</option>
                        <!--<option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>-->
                      </select>
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Logo de la Institución</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Institución</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="Instituto Profesional...">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Título</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="Curso en...">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Año Inicio</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="2021">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Año Fin</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="2021">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Descripción del Estudio</label>
                    <textarea class="form-control form-control-sm" id="formFileSm" type="text" rows="3" placeholder="Breve descripción del estudio"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Eliminar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
                <button type="button" class="btn btn-success">&nbsp;&nbsp;Editar&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- ...............Fin de Modal para Estudios -->