/* ...............Inicio de Acerca de Mi*/
.img{
    margin-top: -2.5rem;
    width: 40%;
}
/* ...............Fin de Acerca de Mi*/
/* ...............Inicio de Banner*/
.banner{
    width: 100%;
    background-size: cover;
}
/* ...............Fin de Banner*/
.about{
    width:100%;
}
.titulo-about{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-about{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
.caja-about{
    width: 90%;
    margin-left: 5%;
    align-self: center;
    height: auto;
    border: 0.5rem solid #ffffff80;
    background: #d1cdcd;
}
.volver{
    float: right;
    margin-top: 1rem;
}
.boton{
    width: 8rem;
    margin-top: 1rem;
}
/* ...............Fin de Acerca de Mi*/