/* ...............Inicio de Acerca de Mi*/
/* ...............Inicio de Banner*/

.about{
    width:100%;
}
.titulo-about{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-about{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
.caja-about{
    width: 70%;
    margin-left: 15%;
    align-self: center;
    height: auto;
    border: 0.5rem solid #ffffff80;
    background: #d1cdcd;
}
.volver{
    float: right;
    margin-top: 1rem;
}
/* ...............Fin de Acerca de Mi*/