<!-- .............Inicio Educacion................ -->
<section id="educacion" class="educacion mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="titulo-edu">
                <h1 class="text-center linea-edu">EDUCACIÓN</h1>
            </div>
            <div class="mt-3 mb-2 caja-edu">
                <ul>
                    <div *ngFor = "let item of estudios">
                        <li class="list-group-item mt-5">
                            <div class="container row">
                                <div class="col-12 col-md-2 mt-2 text-center">
                                    <a [href]="item.link_instit" class="col-3 text-center" target="_blank">
                                        <img [src]="item.logo" class="logo-edu" width="100rem">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3>{{item.titulo}} ({{item.fecha_inicio}}-{{item.fecha_fin}})</h3>
                                    <h4>{{item.instit}}</h4>
                                    <p>{{item.descripcion}}</p>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
<!-- ..............Fin Educacion.................. -->
</section>