.contenedor{
    margin: 5rem auto;
    width: 75%;
    padding: 2.5%;
    background: white;
    border-radius: 2.5rem;
}
.contenedor h2{
    margin: 1rem;
    text-align: center;
}
.contenedor .elemento label{
    color: #fff;
}
.contenedor .elemento input{
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
}