<!-- ...............Inicio de Modal para Redes -->
<div class="modal fade" id="ModalRedes" name="ModalRedes" tabindex="-1" aria-labelledby="ModalRedes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Redes Sociales</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-4 mb-3">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" aria-placeholder="Seleccionar">
                        <option selected>Seleccionar</option>
                        <!--<option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>-->
                      </select>
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Título de Red social</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="Ej: Facebook, Instagram...">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Ícono de la red social</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="fa-brands fa-html5...">
                </div>
                <div class="mb-3 row">
                    <label for="formFileSm" class="form-label">Link</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="Link de la red social">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Eliminar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
                <button type="button" class="btn btn-success">&nbsp;&nbsp;Editar&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- ...............Fin de Modal para Redes -->