<!-- .............Inicio Footer............... -->
<section id="footer">
    <br><br>
    <div class="container-fluid text-center">
        <footer class="footer">
            <p>
                <button type="button" class="caja" data-bs-toggle="modal" data-bs-target="#ModalAcercade">
                    <a [href]="persona.cvpdf" download="CV">
                        <i class="fa-solid fa-download fa-2x"></i>
                    </a>
                </button>
                &copy; {{persona.textofooter}}
            </p>
        </footer>
    </div>
</section>