/* ...............Inicio de Footer*/
.caja{
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    background-color: #5c0063;
    border-color: rgb(255, 242, 0);
    border-width: .1rem;
    border-radius: .1rem;
  }
.footer{
    color: #3700ff;
    background: #ffffff;
    font-weight: bold;
}
/* ...............Fin de Footer*/