<!-- .............Inicio Skills................ -->
<section id="dashskills" class="skills mt-5">
    <div class="container-fluid">
        <div>
            <div class="titulo-skill">
                <h1 class="text-center linea-skill">SKILLS</h1>
            </div>
        </div>
    </div>
    <ul class="row">
        <!-- ..............FRONTEND -->
            <div class="caja-skill">
                <div class="text-center">
                    <button type="button" class="btn btn-success nuevo text-center" data-bs-toggle="modal" data-bs-target="#ModalSkill">Nuevo Item</button>
                    <button class="btn btn-dark volver" (click)="volver()" title="Volver a Dashboard"><i class="fa-solid fa-rotate-left"></i></button>
                </div>
                <h2 class="tit-item-skill mb-3">Frontend</h2> 
                <div *ngFor="let item of skills" [ngSwitch]="item.tipo">
                    <div *ngSwitchCase="'Frontend'">
                        <li class="item-skill mt-5 container row">
                            <div class="col-9">
                                <p><i [ngClass]="item.iconskill" class="fa-2xl"></i> {{item.habilidad}}</p>
                                <div class="progress mb-4 " style="height: 1.5rem">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated skill-frontend" 
                                    role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                                    style="height: 1.5rem" [style.width.%]="item.porcentaje">{{item.porcentaje}} %</div>
                                </div>   
                            </div>   
                            <div class="col-3 text-center">
                                <div>
                                    <button class="btn btn-success m-2" (click)="item.id? cargarItem(item.id): null" data-bs-toggle="modal" data-bs-target="#ModalSkill" title="Editar">
                                        <i class="fa-solid fa-pen-clip"></i>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-danger m-2" (click)="item.id ? borrarItem(item.id) : null" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>          
                        </li>
                    </div>
                </div>  
                
    <!-- ..............BACKEND -->
                <h2 class="tit-item-skill mb-3">Backend</h2>
                <div *ngFor="let item of skills" [ngSwitch]="item.tipo">
                    <div *ngSwitchCase="'Backend'">
                        <li class="item-skill mt-5 container row">
                            <div class="col-9">
                                <p><i [ngClass]="item.iconskill" class="fa-2xl"></i> {{item.habilidad}}</p>
                                <div class="progress mb-4 " style="height: 1.5rem">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated skill-backend" 
                                    role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                                    style="height: 1.5rem" [style.width.%]="item.porcentaje">{{item.porcentaje}} %</div>
                                </div>   
                            </div>   
                            <div class="col-3 text-center">
                                <div>
                                    <button class="btn btn-success m-2" (click)="item.id? cargarItem(item.id): null" data-bs-toggle="modal" data-bs-target="#ModalSkill" title="Editar">
                                        <i class="fa-solid fa-pen-clip"></i>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-danger m-2" (click)="item.id ? borrarItem(item.id) : null" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>          
                        </li>
                    </div>
                </div>  
    <!-- ..............IDIOMAS -->
                <h2 class="tit-item-skill mb-3">Idiomas</h2>
                <div *ngFor="let item of skills" [ngSwitch]="item.tipo">
                    <div *ngSwitchCase="'Idioma'">
                        <li class="item-skill mt-5 container row">
                            <div class="col-9">
                                <p><i [ngClass]="item.iconskill" class="fa-2xl"></i> {{item.habilidad}}</p>
                                <div class="progress mb-4 " style="height: 1.5rem">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated skill-idiomas" 
                                    role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                                    style="height: 1.5rem" [style.width.%]="item.porcentaje">{{item.porcentaje}} %</div>
                                </div>   
                            </div>   
                            <div class="col-3 text-center">
                                <div>
                                    <button class="btn btn-success m-2" (click)="item.id? cargarItem(item.id): null" data-bs-toggle="modal" data-bs-target="#ModalSkill" title="Editar">
                                        <i class="fa-solid fa-pen-clip"></i>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-danger m-2" (click)="item.id ? borrarItem(item.id) : null" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>          
                        </li>
                    </div>
                </div>  
    <!-- ..............OTROS -->
                <h2 class="tit-item-skill mb-3">Otros</h2>
                <div *ngFor="let item of skills" [ngSwitch]="item.tipo">
                    <div *ngSwitchCase="'Otro'">
                        <li class="item-skill mt-5 container row">
                            <div class="col-9">
                                <p><i [ngClass]="item.iconskill" class="fa-2xl"></i> {{item.habilidad}}</p>
                                <div class="progress mb-4 " style="height: 1.5rem">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated skill-otros" 
                                    role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                                    style="height: 1.5rem" [style.width.%]="item.porcentaje">{{item.porcentaje}} %</div>
                                </div>   
                            </div>   
                            <div class="col-3 text-center">
                                <div>
                                    <button class="btn btn-success m-2" (click)="item.id? cargarItem(item.id): null" data-bs-toggle="modal" data-bs-target="#ModalSkill" title="Editar">
                                        <i class="fa-solid fa-pen-clip"></i>
                                    </button>
                                </div>
                                <div>
                                    <button class="btn btn-danger m-2" (click)="item.id ? borrarItem(item.id) : null" title="Eliminar">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>          
                        </li>
                    </div>
                </div>  
            </div>
        </ul>
<!-- ..............Fin Skills.................. -->
</section>


<!-- ...............Inicio de Modal para Skill -->
<div class="modal fade" id="ModalSkill" name="ModalSkill" tabindex="-1" aria-labelledby="ModalSkill" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalSkillLabel">Skill</h4>
                <button type="button" (click)="limpiar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    
                    <div class="mb-3 row">
                        <label for="formFileSm" class="form-label">Tipo (Frontend, Backend, Idioma, Otro)</label>
                        <input type="text" class="form-control" id="tipo" formControlName="tipo" name="" placeholder="Frontend, Backend, Idioma, Otro"
                        [ngClass]="{'is-invalid': TipoInvalido, 'is-valid': TipoValido}">
                        
                        <!-- Se verifica si cumple con el formato -->
                        <div *ngIf="Tipo?.errors && Tipo?.touched">
                            <p *ngIf="Tipo?.hasError('required')" class="errores">
                                Campo requerido.
                            </p>
                            <p *ngIf="Tipo?.errors?.['minlength']" class="errores">
                                Debe ser de 2 o más caracteres.
                            </p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="formFileSm" class="form-label">Habilidad</label>
                        <input type="text" class="form-control" id="habilidad" formControlName="habilidad" name="" placeholder="HTML, Francés, Liderazgo..."
                        [ngClass]="{'is-invalid': HabilidadInvalido, 'is-valid': HabilidadValido}">
                        
                        <!-- Se verifica si cumple con el formato -->
                        <div *ngIf="Habilidad?.errors && Habilidad?.touched">
                            <p *ngIf="Habilidad?.hasError('required')" class="errores">
                                Campo requerido.
                            </p>
                            <p *ngIf="Habilidad?.errors?.['minlength']" class="errores">
                                Debe ser de 2 o más caracteres.
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="" id="id">
                    <div class="mb-3 row">
                        <label for="formFileSm" class="form-label">Ícono de fontawesome</label>
                        <input type="text" class="form-control" id="iconskill" formControlName="iconskill" name="" placeholder="http://website.com">
                    </div>
                    <div class="mb-3 row">
                        <label for="formFileSm" class="form-label">Porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje" formControlName="porcentaje" name="" placeholder="Developer, Support..."
                        [ngClass]="{'is-invalid': PorcentajeInvalido, 'is-valid': PorcentajeValido}">
                        
                        <!-- Se verifica si cumple con el formato -->
                        <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                            <p *ngIf="Porcentaje?.hasError('required')" class="errores">
                                Campo requerido.
                            </p>
                            <p *ngIf="Porcentaje?.errors?.['minlength']" class="errores">
                                Debe ser de tipo numérico y >= 0
                            </p>
                            <p *ngIf="Porcentaje?.errors?.['maxlength']" class="errores">
                                Debe ser de tipo numérico y <= 100
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="guardarItem()" class="btn btn-dark" data-bs-dismiss="modal" [disabled]="form.invalid">Guardar</button>
                        <button type="button" (click)="limpiar()" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    </div>
                </form>
            </div>
    </div>
</div>
<!-- ...............Fin de Modal para Skill -->