<header>
    <nav class="navbar navbar-nav bg-secondary">
        <div class="container-fluid">
        <!-- ...............Inicio de Logo Argentina Programa -->
            <div class="col-3">
                <a class="navbar-brand m-0 p-0" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
                    <img src="../assets/img/AP-logo.png" alt="Logo Argentina Programa" width="150rem">
                </a>
            </div>
        <!-- ...............Fin de Logo Argentina Programa -->
            <ul class="list-group list-group-horizontal">
                <app-redes></app-redes>
                <app-login></app-login>
            </ul>
        </div>
    </nav>
</header>