/* ...............Inicio de Background General*/
body{
    background-image: url(/assets/img/banner.png);
    position: relative;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-fluid, .row{
    padding: 0;
    margin: 0;
}
/* ...............Fin Background General*/
/* ................................................................................. */
/* ...............Inicio de Navbar*/
.bg-secondary{
    background-color: #060028!important;
    z-index: 1030;
}
.navbar-toggler{
    background-color: #ffffff;
}
.navbar-nav{
    align-items: flex-end;
}
/* ...............Fin de Navbar*/
/* ................................................................................. */
/* ...............Inicio de Redes sociales*/
.list-group{
    --bs-list-group-bg: none;
    --bs-list-group-border-color: none;
}
i.fa-brands.fa-github.fa-2x.text-white:hover{
    color: #beb8b8 !important;
}
i.fa-brands.fa-linkedin.fa-2x.text-white:hover{
    color: #0066ff !important;
}
/* ...............Fin de Redes sociales*/
/* ................................................................................. */
/* ...............Inicio de Login*/
i.fa-solid.fa-right-to-bracket.fa-2x.text-white:hover{
    color: #00cf26 !important;
}
/* ...............Fin de Login*/
/* ................................................................................. */
/* ...............Inicio de Banner*/
.banner{
    width: 100%;
    position: relative;
    background-size: cover;
    z-index: 1;
}
/* ...............Fin de Banner*/
/* ................................................................................. */
/* ...............Inicio de Acerca de Mi*/
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0.1rem #0000ff;
    color: #ffffff;
}
.info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 0.05rem #ffffff;
    color: #730989;
}
.img{
    margin-top: -2.5rem;
    width: 10rem;
}
.about{
    margin-top: 10rem;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 7.5rem;
    margin: 0;
    padding: 0;
}
/* ...............Fin de Acerca de Mi*/
/* ................................................................................. */
/* ...............Inicio de Experiencia*/
.experiencia{
    width:100%;
}
.titulo-exp{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-exp{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
.caja-exp{
    width: 80%;
    align-self: center;
    height: auto;
    border: 1rem solid #ffffff80;
    background: #d1cdcd;
  }
.logo-exp{
    align-items: center;
}
.texto-exp{
    align-items: left;
    text-align: left;
}
/* ................Fin de Experiencia*/
/* ................................................................................. */
/* ...............Inicio de Educación*/
.educacion{
    width:100%;
}
.titulo-edu{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-edu{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
.caja-edu{
    width: 82%;
    align-self: center;
    height: auto;
    border: 1rem solid #ffffff80;
    background: #d1cdcd;
  }
.logo-edu{
    align-items: center;
}
.texto-edu{
    align-items: left;
    text-align: left;
}
/* ................Fin de Educación*/
/* ................................................................................. */
/* ...............Inicio de Skills*/
.skills{
    width:100%;
}
.titulo-skill{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-skill{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
.caja-skill{
    align-self: center;
    height: auto;
    border: 1rem solid #ffffff80;
    background: #d1cdcd;
}
.item-skill{
	width: 100%;
	float: left;
	list-style-type: none;
	padding: 1%;
}
.item-skill:nth-child(even){
    margin-bottom: 5em;
}
.tit-item-skill {
	margin: 0 0 1.5em;
	border-bottom: 0.1rem solid #cccccc;	
	padding: 0 0 .25em;
}
.skill-frontend{
    --bs-progress-bar-bg: #9f2ec8!important;
}
.skill-backend{
    --bs-progress-bar-bg: #07b70f!important;
}
.skill-idiomas{
    --bs-progress-bar-bg: #c85a2e!important;
}
.skill-otros{
    --bs-progress-bar-bg: #0f47e2!important;
}
/* ...............Fin de Skills*/
/* ................................................................................. */
/* ...............Inicio de Proyectos*/
.proyectos{
    width:100%;
}
.titulo-proy{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-proy{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
/* ................Fin de Proyectos*/
/* ................................................................................. */
/* ...............Inicio de Referencias*/
.caja-ref{
    align-self: center;
    border: 1rem solid #ffffff80;
    background: #d1cdcd;
    padding-right: 0!important;
    padding-left: 0!important;
  }
.referencias{
    width:100%;
    align-items: center;
}
.titulo-ref{
    background: #ffffff;
    text-align: center;
    color: #2fa50b;
}
.linea-ref{
    padding: 1.5rem;
    color: #3700ff;
    line-height: 0;
}
.logo-ref{
    align-items: center;
}
.texto-ref{
    align-items: left;
    text-align: left;
}
/* ...............Fin de Referencias*/
/* ................................................................................. */
/* ...............Inicio de Footer*/
.caja{
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    background-color: #5c0063;
    border-color: rgb(255, 242, 0);
    border-width: .1rem;
    border-radius: .1rem;
  }
.footer{
    color: #3700ff;
    background: #ffffff;
    font-weight: bold;
}
/* ...............Fin de Footer*/