<!-- ...............Inicio de Modal para Perfil -->
<div class="modal fade" id="ModalPerfil" name="ModalPerfil" tabindex="-1" aria-labelledby="ModalPerfil" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Perfil</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Foto de Perfil</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
            <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Nombre(s)</label>
                <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="Ej. Juan Fernando">
            </div>
            <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Apellido(s)</label>
                <input class="form-control form-control-sm" id="formFileSm" type="text" placeholder="Ej. Perez Belgrado">
            </div>
            <div class="mb-3 row">
                <label for="formFileSm" class="form-label">Título</label>
                <textarea class="form-control form-control-sm" id="formFileSm" type="text"
                placeholder="Full-Stack Developer, Frontend Developer..."></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    </div>
</div>
<!-- ...............Fin de Modal para Perfil -->