<!-- ...............Inicio de Modal para Acerca de Mi -->
<div class="modal fade" id="ModalAcercade" name="ModalAcercade" tabindex="-1" aria-labelledby="ModalAcercade" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Acerca de Mi</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Acerca</h5>
                <div class="mb-3 row">
                    <textarea class="form-control form-control-sm" id="formFileSm" type="text" rows="3" 
                    placeholder="Breve descripción profesional"></textarea>
                </div>
                <h5 class="mt-2">Frase</h5>
                <div class="mb-3 row">
                    <textarea class="form-control form-control-sm" id="formFileSm" type="text" rows="3" 
                    placeholder="Frase inspiradora"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- ...............Fin de Modal para Acerca de Mi -->