/* ...............Inicio de Redes sociales*/
i.fa-brands.fa-github.fa-lg.text-white:hover{
    color: #beb8b8 !important;
}
i.fa-brands.fa-linkedin.fa-lg.text-white:hover{
    color: #0066ff !important;
}
.list-group{
    --bs-list-group-bg: none;
    --bs-list-group-border-color: none;
}
.list-group-item{
    padding: 0.3rem;
}
/* ...............Fin de Redes sociales*/