/* ...............Inicio de Navbar*/
.bg-secondary{
    background-color: #060028!important;
    z-index: 1030;
}
.navbar-toggler{
    background-color: #ffffff;
}
.navbar-nav{
    align-items: flex-end;
}
.navbar{
    flex-wrap: nowrap;
}
.list-group{
    --bs-list-group-bg: none;
    --bs-list-group-border-color: none;
}
/* ...............Fin de Navbar*/