/* ...............Inicio de Login*/
i.fa-solid.fa-right-to-bracket.fa-lg.text-white:hover{
    color: #00cf26 !important;
}
.list-group-item{
    padding: 0.3rem;
}
.error{
    color: #dc143c;
}
/* ...............Fin de Login*/