/* ...............Inicio de Background General*/
body{
    background-image: url(https://i.ibb.co/g9WcY9t/banner.png);
    position: relative;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-fluid, .row{
    padding: 0;
    margin: 0;
}
/* ...............Fin Background General*/