<!-- .............Inicio Proyectos................ -->
<section id="proyectos" class="proyectos mt-5">
    <div class="container-fluid">
        <div class="titulo-proy">
            <h1 class="text-center linea-proy">PROYECTOS</h1>
        </div>
        <div *ngFor="let item of proyectos">
            <div class="#">
                <div class="caja-pro row mt-3">
                    <div class="col-12 col-lg-6">
                        <img [src]="item.logo" class="card-img-top p-2">
                    </div>
                    <div class="card-body col-12 col-lg-5 m-3">
                        <h5>{{item.titulo}}</h5>
                        <h6>({{item.fin}})</h6>
                        <p>{{item.descripcion}}</p>
                        <a [href]="item.link_repo" target="_blank" class="btn btn-primary">Visitar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ..............Fin Proyectos.................. -->
</section>